html {
    min-height: 100%;
    margin-bottom: 0;
}

body {
    margin-top: 1px;
    background-color: rgba(252, 252, 15, 0.63);
    background: url("/images/Bananas\ Tree.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
    max-height: none;
}

header {
    min-height: 65px;
    padding-top: 22px;
    background-color: rgba(17, 166, 251, 0.822);
    text-align: center;
}

h1 {
    margin-top: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: mintcream;
    font-size: 40px;
    padding-bottom: 14px;
    text-shadow: rgba(0, 0, 0, 0.161) 1px 2px;
}

h2 {
    font-family: Courier;
    font-size: 34px;
    letter-spacing: 2.5px;
    margin-top: -4%;
    padding: 2%;
    color: rgb(224, 237, 30);
}

nav {
    height: 40px;
    background-color: rgba(247, 255, 29, 0.782);
    margin: 14px 0;
    text-align: center;
    padding-top: 23px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.navbutton {
    border-style: solid;
    border-color: rgb(12, 156, 158);
    border-width: 1.4px;
    padding: 7px 20px;
    border-radius: 10px 5px;
}

.navbutton:hover {
    background-color: rgba(255, 0, 0, 0.621);
    transition-duration: .09s;
}

nav a {
    text-decoration: none;
    color: rgb(2, 125, 30);
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.introduction {
    background-color: rgba(31, 131, 101, 0.901);
    color: rgb(244, 255, 92);
    padding-left: 15%;
    padding-right: 14%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17.7px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1605828125143-4773129f5c84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    min-height: 300px;
}

.herobox1 {
 flex: 2;
}


.carousel {
    display: flex;
    flex: 1;
    align-items: center;
    padding-right: 30px;
}

.slices {
    filter: drop-shadow(2px 2px 4px);
}

.welcome {
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-shadow: rgba(0, 0, 0, 0.33) 1px 2px;
    margin-bottom: 74px;
}

.pictweet {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}

.pic1 {    
    height: 40px;
    background-image: url(images/banana-banana-tree-bunch-of-bananas-fruit-60581.jpeg) ;
    background-size: cover;
}

.pic2 {    
    height: 40px;
    background-image:url(/images/bananas-sliced.webp);
    background-size: cover;
}

.pic3 {    
    height: 40px;
    background-image: url(/images/bananabunches.jpeg) ;
    background-size: cover;
}

.pic4 {    
    height: 40px;
    background-image:url(/images/leaf-2749587_1280.jpeg) ;
    background-size: cover;
}

.pic5 {    
    height: 40px;
    background-image: url(/images/bananas-1737836_1280.jpeg) ;
    background-size: cover;
}

.pic6 {    
    height: 40px;
    background-image: url(/images/bananaleafwave.jpeg) ;
    background-size: cover;
}

.pic7 {    
    height: 40px;
    background-image: url(/images/bananas-pink-background.jpeg) ;
    background-size: cover;
}

.pic8 {    
    height: 40px;
    background-image: url(/images/bunchesofbananas.avif) ;
    background-size: cover;
}

.pic9 {    
    height: 40px;
    background-image: url(/images/lotsofbananas.avif) ;
    background-size: cover;
}

.pic10 {    
    height: 40px;
    background-image: url(/images/fruit-bowl-3476_1280.jpeg) ;
    background-size: cover;
    background-position: 20% 10%;
}

.brands {
   background-color: rgb(35 77 0 / 76%);
   height: 110px;
   width: 100%;
   text-align: center;
}

.brands a {
    font-size: 20px;
    text-decoration: none;
    color: yellow;
    margin-left: 24px;
}

h3 {
    color: yellowgreen;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 4px;
    font-size: 20px;
}

.wavy {
    color: white;
    margin-left: 24px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 2px;
}

footer a {
    text-decoration: none;
    color: wheat;
}

.divider {
    color: wheat;
    margin: 5px 0;
}

.footp {
    margin: 5px;
}

.contact {
    min-height: 300px;
    background-color: rgba(20, 172, 53, 0.938);
    padding-left: 7px;
}

.contact p {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding-top: 7px;
}